<!DOCTYPE html>
<html lang=en>
  <meta charset="utf-8">

	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='styles/index.css') }}">
		<title>Homework Recording System</title>
	<head>
	
	<body>
		<form action="/" method="post" enctype="multipart/form-data">
			<label for="sel-subject">Subject</label>
			<select name="subject" id="sel-subject">
				<option value="english">English</option>
				<option value="chinese">Chinese</option>
				<option value="math">Math</option>
				<option value="chemistry">Skemistry</option>
				<option value="physics">Physics</option>
				<option value="biology">Bio</option>
				<option value="geography">Geography</option>
				<option value="philosophy">Philo</option>
				<option value="socialstudies">Social Studies</option>
			</select>

			<label for="inp-duedate">Due date</label>
			<input type="date" id="inp-duedate"></input>

			<label for="inp-details">Details</label>
			<input type="text" id="inp-details" />

			<button name="submit" id="btn-submit" type="submit">Submit</button>
		</form>
	</body>
</html> 
